p.outputTitle{
  font-size: 20px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin: unset;
  margin-bottom: 26px;
}

table.output {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: -12px;
}

td.Channels{
  text-align: left;
  padding: 10px 0 10px 0;
  background-color: transparent;
  color: white;
  border: unset;
  font-size: 11px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  padding-left: 14px;
  text-transform: uppercase;
}

td.Channels2{
  text-align: left;
  padding: 10px 0 10px 0;
  background-color: transparent;
  color: white;
  border: unset;
  font-size: 11px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  padding-left: 14px;
  text-transform: uppercase;
  position: relative;
  display: table;
  float: right;
  margin-top: -25px;
  margin-right: 4px;
}

tr.ttable1, tr.ttable3, tr.ttable4, tr.ttable6, tr.ttable7, tr.ttable9, tr.ttable10, tr.ttable12, tr.ttable13, 
tr.ttable15, tr.ttable16, tr.ttable18, tr.ttable19, tr.ttable21, tr.ttable22, tr.ttable24, tr.ttable25, tr.ttable27, tr.ttable28, tr.ttable30, tr.ttable31{
  margin-bottom: 5px;
  position: relative;
  display: block;
  width: 31%;
  float: left;
  border: 1px solid white;
  border-left: unset;
  border-right: unset;
  border-top: unset;
  padding-right: 7px;
}

tr.ttable2, tr.ttable5, tr.ttable8, tr.ttable11, tr.ttable14, tr.ttable17, tr.ttable20, tr.ttable23, tr.ttable26, tr.ttable29, tr.ttable32{
  border: 1px solid white;
  border-top: unset;
  margin-bottom: 5px;
  position: relative;
  display: block;
  width: 31%;
  float: left;
  padding-right: 6px;
}

tr.ttable31, tr.ttable32 {
  border-bottom: unset;
}

tr.ttable2:after, tr.ttable5:after, tr.ttable8:after, tr.ttable11:after, tr.ttable14:after, tr.ttable17:after, tr.ttable20:after, 
tr.ttable23:after, tr.ttable26:after, tr.ttable29:after {
  content: "";
  position: absolute;
  left: -1px;
  height: 10px;
  width: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

a.back1{
  border: 1px solid rgba(0,255,206,0.58);
  padding: 8px 0 8px 0;
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 10px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  color: #00ffce;
  background-image: linear-gradient(#2a363e, black);
  margin-bottom: 15px;
  margin-top: 7px;
}

div.wrapper{
  height: 170%;
}

.move-in-right {
  animation: moveinright 1s 1 normal forwards;
}

@keyframes moveinright {
 from { transform: translateX(-301px); }
 to   { transform: translateX(0px); }
}
